[realms]

 AD1.{{ GUID.capitalize() }}.EXAMPLE.OPENTLC.COM = {

 kdc = ad1.{{ GUID }}.example.opentlc.com
 }

[domain_realm]
 .ad1.{{ GUID }}.example.opentlc.com = AD1.{{ GUID.capitalize() }}.EXAMPLE.OPENTLC.COM